<div class="jumbotron">
  <div class="container">
    <h1>Log in</h1>
      <%= form_with(scope: :session, url: sessions_path) do |f| %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %><br>
      </div>

        <%= f.submit "Log in 、、君に出来るかな！！" %>
      <% end %>
  </div>
</div>
