<p id="notice"></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @user.image %>
</p>

<!-- お気に入りの一覧をだす処理 -->
<h1><%= @user.name %>のお気に入りブログ</h1>

<tr>
  <th>内容</th><br>
</tr>
<% @favorite_pictures.each do |favorite_pictures| %>
  <tr>
    <!-- <th><%#= favorite_blogs.Blog id %></th> -->
    <th><%= favorite_pictures.content %></th><br>
    <!-- <th><%#= favorite_blogs.user_id %></th> -->
  </tr>
<%end%>
